# Server settings
port: "8989"

# Paths
libraryPath: "/Volumes/hdd_media/anime/One Pace"
downloadPath: "/Volumes/hdd_downloads/complete"
libraryJsonPath: "./data/library.json"

# Metadata API
metadata:
  episodesUrl: "https://raw.githubusercontent.com/jasanpreetn9/onepace-metadata/refs/heads/main/data/episodes.json"
  arcsUrl: "https://raw.githubusercontent.com/jasanpreetn9/onepace-metadata/refs/heads/main/data/arcs.json"

# qBittorrent
qbittorrent:
  enabled: true
  host: "http://localhost:8080/"
  username: "admin"
  password: "adminadmin"
